@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sansSerif;
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  .invoice-table {
    @apply mb-3 grid w-full grid-cols-invoiceTableMobile gap-x-4 px-4 lg:grid-cols-invoiceTable lg:px-6;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
