@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sansSerif;
  }

  label {
    @apply block font-sansSerif font-bold text-monsoon;
  }

  input[type='text']:not(.search):not(.line-item),
  input[type='number']:not(.line-item),
  input[type='email'],
  input[type='password'],
  input[type='date'] {
    @apply h-14 w-full rounded-lg border-2 border-silver px-4 font-sansSerif text-base;
  }

  select {
    @apply h-14 w-full appearance-none rounded-lg border-2 border-silver bg-chevronDown bg-right-center bg-no-repeat p-4;
  }

  input[type='text']:not(.search):not(.line-item):focus,
  input[type='number']:not(.line-item):focus,
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='date']:focus,
  textarea:focus,
  select:focus {
    @apply border-2 border-lavenderIndigo outline-none;
  }

  textarea {
    @apply h-32 w-full rounded-lg border-2 border-silver p-4 font-sansSerif text-base;
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  .invoice-table {
    @apply mb-3 grid w-full grid-cols-invoiceTableMobile gap-x-4 px-4 lg:grid-cols-invoiceTable lg:px-6;
  }

  .field {
    @apply mb-6;
  }

  .invoice-line-item {
    @apply grid grid-cols-invoiceLineItem gap-x-5;
  }
  .button {
    @apply relative items-center  whitespace-nowrap rounded-lg  px-5 py-2 font-sansSerif text-base font-black lg:px-10 lg:py-3 lg:text-xl;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
