.DS_Store
**/.DS_Store
node_modules
**/node_modules
.svelte-kit
**/.svelte-kit
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
**/build
**/.svelte-kit
**/package
**/.env
**/.env.*
**/!.env.example

